<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEval" />
                <binding name="BasicHttpBinding_IEval1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEval" contract="RestEvalReference.IEval"
                name="BasicHttpBinding_IEval" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestServiceLibrary/Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEval1"
                contract="RestEvalReference.IEval" name="BasicHttpBinding_IEval1" />
        </client>
    </system.serviceModel>
</configuration>