<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Basic" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="Net.Tcp" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="Ws" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/vehicle/meta/basic"
                binding="basicHttpBinding" bindingConfiguration="Basic" contract="VehicleServiceReference.IVehicleService"
                name="Basic" />
            <endpoint address="http://localhost:8080/vehicle/meta/ws" binding="wsHttpBinding"
                bindingConfiguration="Ws" contract="VehicleServiceReference.IVehicleService"
                name="Ws">
                <identity>
                    <userPrincipalName value="DESKTOP-LM7PGQ6\Jonas" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/vehicle/meta/" binding="netTcpBinding"
                bindingConfiguration="Net.Tcp" contract="VehicleServiceReference.IVehicleService"
                name="Net.Tcp">
                <identity>
                    <userPrincipalName value="DESKTOP-LM7PGQ6\Jonas" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>