<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMediaService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SweaWebServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMediaService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMediaService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMediaService" contract="SoapServiceReference.IMediaService"
                name="BasicHttpBinding_IMediaService" />
            <endpoint address="http://localhost:8080/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMediaService" contract="SoapServiceReference.IMediaService"
                name="WSHttpBinding_IMediaService">
                <identity>
                    <userPrincipalName value="DESKTOP-LM7PGQ6\Jonas" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMediaService" contract="SoapServiceReference.IMediaService"
                name="NetTcpBinding_IMediaService">
                <identity>
                    <userPrincipalName value="DESKTOP-LM7PGQ6\Jonas" />
                </identity>
            </endpoint>
            <endpoint address="https://swea.riksbank.se:443/sweaWS/services/SweaWebServiceHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="SweaWebServiceSoap12Binding"
                contract="RiksbankServiceReference.SweaWebServicePortType"
                name="SweaWebServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>