<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MetaData">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MetaData" name="RestServiceLibrary.EvalService">
              <endpoint 
                address="basic" 
                binding="basicHttpBinding" 
                bindingConfiguration=""
                contract="RestServiceLibrary.IEvalService" />
              
              <endpoint 
                address="mex" 
                binding="mexHttpBinding" 
                bindingConfiguration=""
                contract="IMetadataExchange" />
              
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:8080/" />
                </baseAddresses>
              </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>